In [1]:
#import the pandas library as pd

import pandas as pd

In [5]:
#import our data with the read_csv function and rename it 'data' 

data = pd.read_csv('/Users/kirstenbjornson/Desktop/Data Science documents/Demographic_Data.csv')

In [6]:
#view a quick sample of the dataframe

data.head()

   in-store  age  items   amount  region
0         0   37      4   281.03       2
1         0   35      2   219.51       2
2         1   45      3  1525.70       4
3         1   46      3   715.25       3
4         1   33      4  1937.50       1

In [7]:
#use the describe() function to help us understand some basic info about the data

data.describe()

           in-store           age         items        amount        region
count  80000.000000  80000.000000  80000.000000  80000.000000  80000.000000
mean       0.500000     45.757925      4.504975    835.919670      2.675000
std        0.500003     15.715679      2.061238    721.273736      1.126672
min        0.000000     18.000000      1.000000      5.004700      1.000000
25%        0.000000     33.000000      3.000000    285.140000      2.000000
50%        0.500000     45.000000      4.000000    582.315000      3.000000
75%        1.000000     56.000000      6.000000   1233.700000      4.000000
max        1.000000     85.000000      8.000000   3000.000000      4.000000

In [8]:
#use the info() function to check the data types of each variable

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   in-store  80000 non-null  int64
 1   age       80000 non-null  int64
 2   items     80000 non-null  int64
 3   amount    80000 non-null  float64
 4   region    80000 non-null  int64
dtypes: float64(1), int64(4)
memory usage: 3.1 MB

In [9]:
#check the data for duplicate rows

data = data.drop_duplicates()

In [10]:
#check the data for missing values -- there are none in this dataset

print(data.isnull().sum())

in-store    0
age         0
items       0
amount      0
region      0
dtype: int64

In [20]:
#see the number of times each region occurs in the data (number of purchases per region)
#region 1 = north
#region 2 = south
#region 3 = east
#region 4 = west

data['region'].value_counts()

4    25988
2    19994
3    18000
1    15997
Name: region, dtype: int64

In [21]:
#see the number of purchases made online vs in-store
#in-store = 1
#online = 0

data['in-store'].value_counts()

1    39990
0    39989
Name: in-store, dtype: int64